.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.input {
  box-sizing: border-box;
  border: 5px solid;
  padding: 10px;
  margin: 10px 0;
}

.input_validate{
  border: 2px solid lime;
}

.input_not_validate{
  border: 2px solid red;
}